<div class='features-boxes'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/images/services_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Services
          </h2>
          <p>
           Our clinic offers a full range of medical services
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/images/equipment_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Equipment
          </h2>
          <p>
           We have modern medical equipment.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/images/team_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Personnel
          </h2>
          <p>
            We work with qualified specialists.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/images/online_register_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Registration
          </h2>
          <p>
           You can make an appointment via the Internet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
